{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }],
    "no-unused-vars": ["error", {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
