#account-view {
  .card {
    padding: 40px;
  }

  form {

    &.unlock-wallet-form,
    &.sign-in-form {
      margin-top: 50px;   

      label {
        display: block;
      } 

      input {
        text-align: center;
        width: 50%;
        display: inline-block;
      }

      .empty-state-img {
        margin-top: 0;
      }
    }

    &.sign-up-form {
      margin-top: 50px;      
    }
  }

  .btn {
    margin-bottom: 15px;
  }

  a(:not(.btn)) {
    color: #007bff;

    &:hover {
      text-decoration: underline;
    }
  }
}