//Custom styles for Ant Design
.custom-form-item {
	& > .ant-form-item-label {
		display: block;
		width: 100%;
		text-align: left;
		& > label {
			font-family: Quicksand;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			&::after {
				content: '';
			}
		}
	}
	& > .ant-form-item-control {
		.ant-form-item-control-input-content {
			& > input,
			& > .ant-input-number,
			& > textarea {
				background: #ffffff;
				border: 2px solid #dfdae8;
				box-sizing: border-box;
				border-radius: 8px;

				padding: 13px 18px;

				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
			}
			& > .ant-input-number {
				width: 100%;
				.ant-input-number-input{
					height: 22px;
					padding: 0;
				}
				& > .ant-input-number-handler-wrap {
					display: none;
				}
			}
		}
		.ant-upload-drag {
			background: #ffffff;
			border: 2px dashed #dfdae8;
			box-sizing: border-box;
			border-radius: 8px;

			padding: 16px 18px;

			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			p {
				color: #aaafca;
				span {
					color: #3f51b5;
				}
			}
		}
	}
}

//custom Switch
.ant-switch {
	min-width: 36px;
}

.ant-switch-checked {
	background-color: #5ca43f;
}

//custom select
.ant-select {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	.ant-select-selector {
		height: 52px !important;
		background: #ffffff;
		border: 2px solid #dfdae8 !important;
		box-sizing: border-box !important;
		border-radius: 8px !important;
		.ant-select-selection-search {
			.ant-select-selection-search-input {
				height: 50px;
			}
		}
		.ant-select-selection-placeholder,
		.ant-select-selection-item {
			line-height: 50px;
		}
	}
}

.ant-picker {
	width: 100%;
	border: 2px solid #dfdae8;
	box-sizing: border-box;
	border-radius: 8px;
	height: 52px;

	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

//page header center
.ant-page-header {
	.ant-page-header-heading {
		display: block;
		.ant-page-header-heading-left {
			display: block;
			text-align: center;
			position: relative;
			.ant-page-header-back {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.picture-upload-preview {
	padding: 40px 20px;
	position: relative;
	height: 300px;
	box-sizing: border-box;
	border-radius: 8px;
	border: #dfdae8 2px solid;
	& > img {
		height: 100%;
		display: block;
		margin: auto;
	}
	& > .anticon-delete {
		font-size: 24px;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		cursor: pointer;
		path {
			fill: gray;
			&:first-of-type {
				fill: #fff;
			}
		}
		& :hover {
			path {
				fill: rgb(24, 144, 255);
				&:first-of-type {
					fill: rgb(230, 247, 255);
				}
			}
		}
	}
}


.ant-notification, .ant-message{
	padding-top: 60px;
}

.quill-wrapper {
	.ql-toolbar{
		border: 2px solid #dfdae8;
		border-bottom-width: 1px;
		border-radius: 8px 8px 0 0;
	}
	.ql-container{
		border: 2px solid #dfdae8;
		border-top-width: 1px;
		border-radius:  0 0 8px 8px;
		.ql-editor {
			min-height: 18em;
			max-height:  80vh;
		}
	}
}


.ant-checkbox-wrapper{
	font-weight: normal;
}

.ant-btn-donate {
  color: #fff;
  background: #38954d;
  border-color: #38954d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.005);
  &:hover, &:focus {
    color: #fff;
    background: #73c954;
    border-color: #73c954;
  }
}

.ant-btn-text {
	color: #fff;
	background: #9254de;
	border-color: #9254de;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.005);
	&:hover, &:focus {
		color: #fff;
		background: #b37feb;
		border-color: #b37feb;
	}
}

.ant-btn-dangerous{
	&.ant-btn-text {
		color: #ff4d4f;
		background: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
