.antModalComment {
  .ant-modal-body .ant-btn, .ant-modal-body .ant-btn:hover {
    height: 50px;
    padding: 9.4px 43px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    background: #5066CF;
    border-color: #5066CF !important;

    &.ant-btn-background-ghost {
      background: transparent;
      color: #5066CF;
    }
  }

  .quill .ql-container {
    height: 170px;
    .ql-editor {
      min-height: 160px;
    }
  }
}

