.background-image-header {
  @include make-flex();

  position: relative;
  justify-content: center;

  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

  color: white;

  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }

  a.btn:not(:first-child) {
    margin-left: 10px;
  }

  .header-action {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;

    button {
      font-size: small;
    }
  }

  .project-id {
    font-size: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
  }

  h1,h2,h3,h4,h5,h6{
    color: white;
  }

  // entity names in header (TRACE, ...)
  h6:nth-child(1) {
    background: #6a708a;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto 10px auto;
    padding: 9px 11px;
    font-size: 11px;
  }
}

//Custom styles for bootstrap buttons in trace, dac and camp headers
.ghostButtonHeader {
  background: transparent;
  color: white;
  border-color: white;
  padding: 0.25rem 1.2rem;
}
