.background-image-header {
  @include make-flex();

  position: relative;
  justify-content: center;

  width: 100%;
  height: 500px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

  color: white;

  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }

  a.btn:not(:first-child) {
    margin-left: 10px;
  }

  .header-action {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;

    button {
      font-size: small;
    }
  }

  .project-id {
    font-size: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
  }

  h1,h2,h3,h4,h5,h6{
    color: white;
  }
}
