.background-image-header {
  @include make-flex();

  width: 100%;
  height: 500px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

  margin-bottom: 50px;
  color: white;

  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }

  a.btn:not(:first-child) {
    margin-left: 10px;
  }
}
