// Card used in campaign / milestone views
.overview-card {
  max-width: 350px;
  position: relative;
  margin: auto;

  .card-img {
    width: 100%;
    height: 0;
    padding-top: 75%; //4:3 aspect ratio
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 0;
  }

  i.fa.fa-edit:hover {
    color: $green;
  }

  .card-body {
    box-shadow: 0 0 20px darken($page-background, 10%);
    padding: 0;

    .card-avatar {
      padding: 10px 20px;

      .sb-avatar {
        margin-right: 4px;      
      }

      .owner-name {
        position: relative;
        top: 1px;   
        font-size: 0.75rem;
      }

      .btn-edit {
        padding: 4px 0;        
      }
    }

    .card-content {
      padding: 20px;
      height: 250px;

      .card-title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 5px;
      }    

      .card-text {
        color: lighten($link-color, 50%);
        overflow: hidden;
        font-size: 0.8rem;
      }
    }

    .card-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;   
      border: none;   
    }
  }
}

.content-card {
  position: relative;

  .card-body {
    box-shadow: none;
    border: none;
  }

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent white transparent;
    top: -12px;
    left: 50%;
    margin-left: -10px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 14px 12px;
    border-color: transparent transparent #dfdfdf transparent;
    top: -14px;
    left: 50%;
    margin-left: -12px;      
  }
}

.card-view {
  .card {
    cursor: pointer;
    transition: transform .2s ease-in-out;

    &:hover {
      will-change: transform;
      transform: scale(1.01);
    }
  }
}

.card-stats {
  font-size: 0.65rem;

  i {
    margin-right: 4px;
  }

  p {
    margin: 0;
  }
}

.card-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
