// @media (min-width: 768px) {
//   .card-columns {
//     column-count: 4;
//   }
// }
// @media (min-width: 1200px) {
//   .card-columns {
//     column-count: 5;
//   }
// }

.card {

  .card-body {
    box-shadow: 0 0 20px darken($page-background, 10%);

    .sb-avatar {
      margin-right: 4px;      
    }

    .card-title {
      margin: 20px 0 5px;
      font-weight: 700;
    }    

    .card-text {
      color: lighten($link-color, 50%);
      max-height: 200px;
      overflow: hidden;
      font-size: 0.9rem;
    }

    iframe {
      max-width: 100%;
    }
  }

  &.content-card {
    position: relative;

    .card-body {
      box-shadow: none;
      border: none;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 12px 10px;
      border-color: transparent transparent white transparent;
      top: -12px;
      left: 50%;
      margin-left: -10px;
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 14px 12px;
      border-color: transparent transparent #dfdfdf transparent;
      top: -14px;
      left: 50%;
      margin-left: -12px;      
    }
  }
}

.card-view {
  .card {
    cursor: pointer;
    transition: transform .2s ease-in-out;

    &:hover {
      will-change: transform;
      transform: scale(1.02);
    }
  }
}