#causes-view {
  .card-container {
    padding: 10px;

    img {
      max-width: 100%;
      max-height: 400px;
      width: 100%;
      min-height: 200px;
      background-color: #efefef;
    }

    iframe {
      width: 100%;
      min-height: 300px;
    }
  }
}
