$page-background: #f9f9f9;
$header-background: white; //#3a6467;

$menu-item-color: #3a6467; //white;

$link-color: black;

$green: #5FB15F;
$dark-blue: #234052;
$green: #00b491;
$red: #ff4b54;

$success-green: #28a745;
$secondary-link: #6189b5;