#create-bounty-view {
	.donate-giveth {
		padding-top: 32px;
		label {
			font-family: Quicksand;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.bounty-reviewer {
		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		margin-top: 32px;
		.bounty-reviewer-label {
			padding: 0 16px;
		}
	}
	.submit-button {
		margin-top: 40px;
	}
}
