#create-expense-view {
	.add-expense-button {
		width: 100%;
		height: 52px;

		border: 2px solid #5066cf;
		box-sizing: border-box;
		border-radius: 8px;

		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;

		text-align: center;

		color: #5066cf;
	}
	.submit-button {
		margin-top: 40px;
	}
}
