#create-milestone-view {
	.milestone-donate-dac {
		padding-top: 32px;
		label {
			font-family: Quicksand;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
		}

    [role='img'] {
      color: black;
    }
	}
	.milestone-reviewer {
		font-family: Quicksand;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		margin-top: 32px;
		.milestone-reviewer-checkbox {
			padding-right: 8px;
		}
	}
	.milestone-desc {
		margin: 32px 0;
		padding: 16px;
		background: #edf0fa;
		border-radius: 8px;
	}

  .add-expense-button {
    width: 100%;
    height: 52px;

    border: 2px solid $new-purple;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: $new-purple;
  }
}
