.dashboard-table-view {

  .table-container {
    overflow: auto;
  }

  table {
    font-size: 0.8rem;
    margin-top: 50px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    th {
      white-space: nowrap;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    .td-name,
    .td-donated-to {
      min-width: 350px;
    }

    .td-donations-number,
    .td-donations-amount {
      min-width: 80px;
      // text-align: center;

      p {
        margin: 0;
      }
    }

    .td-status {
      min-width: 80px;
    }

    .td-transaction-status {
      min-width: 100px;
    }

    .td-tx-address {
      min-width: 355px;
    }

    .td-token-symbol {
      width: 100px;
      max-width: 100px;
    }

    .td-token-name {
      width: 200px;
      max-width: 200px;
    }

    .td-hidden-row {
      padding: 0 !important;
      height: 0 !important;
    }
  }


  .badge {
    margin-left: 5px;
  }

  .btn {
    font-size: 0.7rem;
    margin-left: 4px;

    i {
      margin-right: 0;
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  th {
    border-bottom: 2px solid #c7c7c7;
    border-top: none;
  }

  .no-results {
    margin-top: 50px;
  }
}
