.dashboard-table-view {
  table {
    font-size: 0.8rem;
    margin-top: 50px;  
  }

  .badge {
    margin-right: 5px;
  }

  .btn {
    font-size: 0.7rem;
    color: white !important;    
  }

  th {
    border-bottom: 2px solid #c7c7c7;
    border-top: none;    
  }
}