ul.donation-history {
  list-style: none;
  margin: 0;
  margin-left: 0em;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }

  li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    color: #369;
    border-left: 1px solid rgb(100, 100, 100);

    &:last-child {
      border-left: none;
    }

    &:before {
      position: relative;
      top: -0.3em;
      height: 1.5em;
      width: 18px;
      color: white;
      border-bottom: 1px solid rgb(100, 100, 100);
      content: "";
      display: inline-block;
      left: -7px;
    }

    &:last-child:before {
      border-left: 1px solid rgb(100, 100, 100);
    }
  }
}

div.leader-board {
  div.leader-board-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;

    .donation-button {
      button {
        padding-right: 2em;
        padding-left: 2em;
      }
    }
  }

  table {
    background-color: white;
    border-radius: .5em;
    table-layout: fixed;

    th.td-toggle {
      width: 5em
    }

    th.td-rank {
      width: 8em;
    }

    th.td-person {
      width: 25em;
    }

    th.td-donations-amount{
      width: 10em;
    }

    th.td-donation-status{
      width: 10em;
    }

    tr {
      &.donation-item {
        background-color: #f0f8ff;
      }

      td {
        &.td-donation-status {
          color: #1391ea;
          font-size: 1.2em;

          .badge {
            background-color: white;
            padding: .5em;
          }
        }

        &.toggle-details {
          button {
            border: solid 1px #00a5bb;
            color: #00a5bb;
            padding: .05rem .3rem;

            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }

  }

  div.load-more {
    text-align: center;

    button {
      color: #00a5bb;
      font-size: 1.4em;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
