#edit-milestone-view {
  h6 {
    font-size: 0.8rem;
    color: #808080;
    margin-bottom: 30px;    
  }

  .milestone-items-card {
    margin: 10px 0;

    .card-body {
      @include bullet-styling(8);

      // padding-bottom: 0;

      .form-group {
        margin-bottom: 0.5rem;
      }
    }

    table {
      margin-top: 0;      
    }
  }

  .btn-add-milestone-item {
    color: white;
  }
}