.sb-avatar {
    .sb-avatar__image{
        display: block;
    }
}

.table-container {
  max-width: 100%;
  width: fit-content;

  table {
    max-width: 100%;
    width: fit-content;
  }
}

@media (min-width: 666px) {
  #donate-modal .eq-usd-value {
    position: absolute;
    margin-top: 14px;
  }
}
