#header {
  position: sticky;
  top: 0;
  z-index: 1000;

  #main_menu {
    overflow: hidden;
    background: white;
    z-index: 1020;
    position: relative;

    .ant-menu-item, .ant-menu-submenu-title {
      padding: 10px;
      margin: 0 1px;
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      margin: 0 1px;
    }

    .ant-menu-overflowed-submenu {
      display: flex;
      align-items: center;
    }
  }

  #tx-limit-banner {
    background: linear-gradient(45deg, #C2449F, #422453);
    z-index: 1010;
    width: 100%;
    position: relative;

    div:nth-child(2) {
      font-size: 16px;
    }
    div:last-child {
      img {
        width: 105px;
        height: auto;
        position: absolute;
        left: -17px;
        opacity: 0.1;
        bottom: -60px;
      }
    }
  }
}

li.ant-menu-item.ant-menu-item-only-child:empty {
  display: none;
}

li.ant-menu-item.ant-menu-item-only-child[role="menuitem"] a.nav-link {
  padding: 0;
}

.ant-menu-inline {
  border-width: 0;
}

.btn-report-issue {
  position: absolute;
  top: 50%;
  left: 50%;
  a {
    border-radius: 56px;
    font-size: 12px;
    background-color: #2c0b3f;
    color: white;
    left: -50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.ant-menu {
  font-size: 16px;
}

// Should be changed
.ant-menu.ant-menu-sub.ant-menu-vertical {
  height: 136px;
}

#TotalGasPaidView {
  border-radius: 4px;
  padding: 1rem;
  border: 1.86px solid #DFDAE8;
  background: #F6F7FF;

  &.menuGasPaid {
    border-radius: 0;
    padding: 10px;
  }

  .ant-row .ant-col {
    flex: 0 0 100%;
  }
}

@media (max-width: 992px) {
  .ant-drawer-header {
    padding: 24px;
  }

  .ant-drawer-body {
    padding: 20px 0 0 0;
  }

  .ant-menu.ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-only-child {
    padding-left: 68px !important;
  }
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline > .ant-menu-item.ant-menu-item-only-child, .ant-menu-submenu-title {
    padding-left: 44px !important;
  }
}
