#join-giveth-community {
  height: 260px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    // linear-gradient(rgba(0, 172, 193, 0.1), rgba(10, 14, 13, 0.9)),
  url('https://d33wubrfki0l68.cloudfront.net/images/2160b98c14dfb61a2cca879d36489c50ea44b049/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% center;
  padding: 20px 20px 50px 20px;
  color: white;

  @include make-flex();

  h3 {
    margin-bottom: 20px;
  }

  a:not(:first-child) {
    margin-left: 10px;
  }

  .btn {
    margin: 4px 2px;
  }
}
