// vertical align utilities, (Bootstrap's vertical align is currently not working)
// include @make-flex to parent before including .vertical-align

@mixin make-flex() {
  display: flex;
  flex-direction: row;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@mixin content-styling() {
  .content {
    font-size: 1.2rem;

    iframe,
    img {
      @media (max-width: 576px) {
        max-width: 600px;
        max-height: 600px;
      }

      @media (min-width: 768px) {
        max-width: 1200px;
        max-height: 1200px;
      }

      width: 100%;
      height: 100%;

      &.cause-header-image {
        margin-bottom: 30px;
        border-radius: 3px;
      }
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.spacer-top-50 {
  margin-top: 50px;
}

.spacer-bottom-50 {
  margin-bottom: 50px;
}

@mixin quill-theme() {
  @include bullet-styling(8);
  ol {
    li {
      &.ql-indent-1 {
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7;
      }
      &.ql-indent-2 {
        counter-reset: list-3 list-4 list-5 list-6 list-7;
      }
      &.ql-indent-3 {
        counter-reset: list-4 list-5 list-6 list-7;
      }
      &.ql-indent-4 {
        counter-reset: list-5 list-6 list-7;
      }
      &.ql-indent-5 {
        counter-reset: list-6 list-7;
      }
      &.ql-indent-6 {
        counter-reset: list-7;
      }
      &.ql-indent-1:before {
        content: counter(list-1, lower-alpha) '. ';
      }
      &.ql-indent-2:before {
        content: counter(list-2, lower-roman) '. ';
      }
      &.ql-indent-3:before {
        content: counter(list-3, decimal) '. ';
      }
      &.ql-indent-4:before {
        content: counter(list-4, lower-alpha) '. ';
      }
      &.ql-indent-5:before {
        content: counter(list-5, lower-roman) '. ';
      }
      &.ql-indent-6:before {
        content: counter(list-6, decimal) '. ';
      }
      &.ql-indent-7:before {
        content: counter(list-7, lower-alpha) '. ';
      }
      &:before {
        content: counter(list-num, decimal) '. ';
      }
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7;
      counter-increment: list-num;
    }
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7;
  }

  ol > li,
  ul > li {
    list-style-type: none;
  }

  ul > li::before {
    content: '\2022';
  }

  li:before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
    text-align: right;
    margin-right: 0.3em;
    margin-left: -1.5em;
  }
}

@mixin view-project() {
  .about-section-header {
    position: relative;

    .title {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  button.header-donate {
    font-size: 1.45rem;
    padding: 7px 90px;
  }

  .section-header {
    @extend .vertical-align;
    justify-content: space-between;
    padding-bottom: 10px;

    button {
      font-size: 0.875rem;
      line-height: 1.7;
      border-radius: 0.2rem;
      margin-left: 1rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    a {
      font-size: 0.875rem;
      line-height: 1.7;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}
