#main-menu {
  background-color: $header-background;

  a {
    color: $menu-item-color;

    &:hover {
      color: darken($green, 10%);
    }

    &.active {
      color: $green;
    }
  }

  .navbar-toggler {
    padding: 0;
    color: $green;

    &:focus {
      outline: none;
    }
  }

  .navbar-toggler-icon {
    width: 18px;
    padding-top: 5px;
  }

  .dropdown-profile {
    left: inherit;
    right: 0;
  }

  .menu-avatar {
    margin-right: 8px;
  }
}
