#main-menu {
  background-color: $header-background;

  a {
    color: $menu-item-color;

    &:hover {
      color: darken($menu-item-color, 30%);
    }

    &.active {
      color: $green;
    }
  }

  .navbar-toggler {
    padding: 0;
    color: #fff;

    &:focus {
      outline: none;
    }
  }

  .navbar-toggler-icon {
    width: 0;
  }
}
