#milestone-conversations {
  $avatar-width: 30px;
  $indent: $avatar-width + 5;

  .card {
    padding: 20px;
  }

  .sb-avatar {
    float: left;
  }

  .content-wrapper {
    margin-left: $indent;
  }

  .c-timestamp {
    font-size: 0.6rem;
    font-weight: initial;
    color: #bbb;
  }

  .owner-name {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 0.3rem !important;
    margin-top: 0.3rem !important;

    &.needsreview {
      color: $dark-blue;
    }

    &.completed,
    &.proposedaccepted {
      color: $green;
    }

    &.rejected,
    &.canceled,
    &.proposedrejected {
      color: $red;
    }

    &.repropose {
      // color: #aaa;
    }

    &.payment {
      color: $blue;
    }
  }

  .c-message {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .c-message img {
    margin: auto;
    width: 90% !important;
    height: auto;
  }

  .c-action-footer:not(:empty) {
    border-top: 1px solid #efefef;
    padding: 3px 0;
    margin-top: 8px;
  }

  .c-action-footer .btn {
    font-size: 0.7rem;
    padding: .15rem .55rem;
  }

  .c-tx-hash {
    margin-left: 8px;
  }

  .c-divider {
    margin-bottom: 40px;
  }

  .badge {
    font-size: 0.65rem;
    padding: 5px !important;
    font-weight: 300;
    background-color: #e4e4e4;
    color: #383838;
  }

  .items-form {
    strong {
      font-size: 0.8rem;
    }

    .milestone-items-card {
      padding: 10px;
    }

    .card-body {
      padding: 0;
    }
  }
}
