.pagination {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  li {
    a {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }

    &.disabled > a {
      cursor: not-allowed;
    }

    &.active > a {
      text-decoration: none;
      color: #000;
      background-color: #fff;
    }

    &:first-child a {
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child a {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      a {
        text-decoration: none;
        background-color: darken(#fff, 20%);
      }
    }
  }
}
