$height: 400px;

.quill {
  .ql-toolbar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: 'Quicksand', sans-serif;
  }

  .ql-container {
    min-height: $height;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .ql-editor {
      font-size: 1rem;
      min-height: $height;
      background-color: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font-family: 'Quicksand', sans-serif;
    }
  }
}
