$height: 400px;

.quill-wrapper {
  width: 100%;
  overflow: auto;
  position: relative;
}

.quill {
  .ql-toolbar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: 'Quicksand', sans-serif;
  }

  .ql-container {
    height: 250px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: auto;

    .ql-editor {
      font-size: 1rem;
      min-height: $height;
      background-color: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font-family: 'Quicksand', sans-serif;
      height: auto;
    }
  }
}
