.skylight-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 9998 !important;
}

.skylight-dialog {
  color: black;
  border-radius: 6px !important;
  margin-left: -33% !important;
  height: auto !important;
  min-height: auto !important;
  width: 64% !important;
  z-index: 9999 !important;
  text-align: center;

  h2 {
    font-size: 30px;
    font-weight: 600;
    color: #575757;
  }

  @media (max-width: 768px) {
    width: 90% !important;
    margin-left: -45% !important;
  }

  @media (min-width: 1200px) {
    width: 50% !important;
    margin-left: -25% !important;
  }
}
