.react-datepicker__input-container {
  .form-control[readonly] {
    background-color: white;
    cursor: pointer;
  }

  .form-control:disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
  }
}