.ReactTokenInput {
  max-width: 100% !important;

  background-color: white;
  padding: 2px 8px !important;
  border: 1px solid #d4d4d4 !important;
  border-radius: 4px;


  .ReactTokenInput__input {
    outline: none !important;
  }

  .ReactTokenInput__option {
    cursor: pointer;

    &:hover {
      background-color: #f8f9fa;
    }
  }
}
