.skylight-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.skylight-dialog {
  color: black;
  border-radius: 6px !important;
  margin-left: -33% !important;
  height: auto !important;
  width: 64% !important;
}
