.sweet-alert {

  font-family: 'Quicksand', sans-serif;


  button {
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 8px 24px;
    }
  }

}

.swal-wide {
  width: 550px;
}

.swal-text {
  text-align: center;
}

.swal-footer {
  text-align: center;

  .swal-button--danger {
    background-color: #DD6B55;

    &:hover {
      background-color: darken(#DD6B55, 8%);
    }
  }
}

.swal-modal {
  &.swal-huge {
    max-width: 800px;
    width: 80%;
  }
}
