.toastify--top-right {
  top: 70px !important;
}

.toastify-content {
  border-radius: 5px !important;

  font-size: 0.9rem;
  font-family: inherit;
  line-height: 1.3rem;

  &--success {
    background-color: $success-green;
  }

  a {
    color: white;
    text-decoration: underline;
    // border-bottom: 1px dashed #fff;
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    margin: 0 15px;
  }

}
