$GasMenuFontColor: #6B7087;
$GasMilCampFontColor: #303B72;

// Forcing ant menu height for gas info
#profile\$Menu .ant-menu.ant-menu-sub.ant-menu-vertical {
  height: 125px;
}

.ant-menu-item #TotalGasPaidView:hover {
  color: $GasMenuFontColor;
  cursor: default;
}

#TotalGasPaidView {
  border-radius: 4px;
  padding: 1rem;
  border: 1.86px solid #DFDAE8;
  background: #F6F7FF;
  color: $GasMilCampFontColor;
  font-size: 12px;

  // For Camp and Trace
  .ant-row .ant-col {
    margin: auto 0;

    &:nth-child(2) {
      font-size: 1.1em;
    }
  }

  // For menubar
  &.menuGasPaid {
    border-radius: 0;
    padding: 10px;
    color: $GasMenuFontColor;

    .ant-row {
      width: min-content;

      .ant-col {
        flex: 0 0 100%;
        height: 23px;
        display: flex;
        align-items: center;
        div {
          line-height: initial;
        }
        &:nth-child(2) {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #profile\$Menu > li.ant-menu-item.ant-menu-item-only-child.p-0.mb-0 {
    padding-left: 0 !important;
  }

  #TotalGasPaidView {
    flex-wrap: nowrap;
  }
}
