#view-cause-view {
  @include content-styling;

  .cause-title {
    margin-bottom: 20px;
  }

  .card {
    min-width: 200px;
    margin-bottom: 1rem;
  }

  .card-body.content {
    @include quill-theme;
  }
}
