#view-campaign-view {
  @include content-styling;
  @include view-project;

  .cause-title {
    margin-bottom: 20px;
  }

  .card.content-card {
    margin-bottom: 4em;
  }

  .card-body.content {
   @include quill-theme;

    iframe.ql-video {
      width: 100%;
      height: 300px;
    }

    img {
      max-width: 100%;
      width: auto;
      box-sizing: border-box;
      display: block;
    }
  }

  .trace-card {
    margin-bottom: 10px;

    small {
      font-size: 0.7rem;
      color: lighten(black, 60%);
    }
  }

  .trace-cards-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    width: 100%;
    justify-content: space-around;
  }
}
