#view-campaign-view {
  @include content-styling;

  padding-top: 50px;

  .cause-title {
    margin-bottom: 20px;
  }

  .milestone-header h3 {
      display: inline-block;    
  }

  .milestone-card {
    margin-bottom: 10px;

    small {
      font-size: 0.7rem;
      color: lighten(black, 60%);
    }
  }
}  