#view-milestone-view {
  @include content-styling;

  padding-top: 50px;

  .milestone-title {
    margin-bottom: 20px;
  }

  table {
    font-size: 0.8rem;

    td {
      height: 40px;
      vertical-align: middle;
    }

    .sb-avatar {
      margin-right: 5px;
    }
  }

  .form-group {
    .label {
      /* how to mixin application.scss label element here? */
      font-weight: 600;
      margin-bottom: 2px;
      font-size: 0.9rem;
    }
  }
}
