#view-campaign-view {
  @include content-styling;

  padding-top: 50px;

  .cause-title {
    margin-bottom: 20px;
  }

  .milestone-header h3 {
      display: inline-block;    
  }

  .milestone-card {
    margin-bottom: 10px;

    table {
      width: 100%;

      .milestone-image {
        max-width: 100px;
        width: 20%;

        img {
          max-width: 100px;
        }
      }

      td {
        vertical-align: top;
      }
    }
  }
}  