#view-campaign-view {
  @include content-styling;

  padding-top: 50px;

  .cause-title {
    margin-bottom: 20px;
  }

  .milestone-header h3 {
    display: inline-block;
  }

  .card-body.content {
    @include bullet-styling(8);

    iframe.ql-video {
      width: 100%;
      height: 300px;
    }

    img {
      max-width: 100%;
      width: auto;
      box-sizing: border-box;
      display: block;
    }
  }

  .milestone-card {
    margin-bottom: 10px;

    small {
      font-size: 0.7rem;
      color: lighten(black, 60%);
    }
  }

  .milestone-cards-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    width: 100%;
    justify-content: space-around;
  }
}
