// Global classes are defined here

@import 'layout.scss';
@import 'colors.scss';
@import 'typography.scss';

// views
@import 'causesView.scss';
@import 'editCausesView.scss';
@import 'viewCauseView.scss';
@import 'viewCampaignView.scss';
@import 'viewMilestoneView.scss';
@import 'accountView.scss';

// components
@import 'loader.scss';
@import 'mainMenu.scss';
@import 'goBackButton.scss';
@import 'joinGivethCommunity.scss';
@import 'backgroundImageHeader.scss';

// misc
@import 'quill-overrides.scss';
@import 'react-skylight.scss';
@import 'toastify-overrides.scss';
@import 'react-token-input-overrides.scss';

// overrides
@import 'card.scss';


html, 
body {
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $page-background;
}

.page-layout {
  padding: 130px 20px 50px 20px;

  &.reduced-padding {
    padding-top: 50px;
  }

  &.extended-padding {
    padding-top: 80px + 50px;
  }

  @media (max-width: 768px) {
    padding: 130px 10px 50px 10px;
  }
}

a, button {
  cursor: pointer;
}

label {
  font-weight: 600;  
  margin-bottom: 2px;
  font-size: 0.9rem;  
}

