// Global classes are defined here
@import "~react-input-token/lib/style.css";
@import "variables/variables.scss";
@import "utils/utils.scss";
@import "mixins";
@import "layout.scss";
@import "typography.scss";
// views
@import "causesView.scss";
@import "editCausesView.scss";
@import "viewCauseView.scss";
@import "viewAlertView.scss";
@import "viewCampaignView.scss";
@import "viewMilestoneView.scss";
@import "campaignsView";
@import "accountView.scss";
@import "dashboard.scss";
@import "edit-view.scss";
@import "editMilestoneView.scss";
@import "editMilestoneViewV2.scss";
@import "myMilestones.scss";
@import "profileView.scss";
@import "donation.scss";
@import "createPayment.scss";
@import "createBounty.scss";
// components
@import "loader.scss";
@import "mainMenu.scss";
@import "goBackButton.scss";
@import "loaderButton.scss";
@import "joinGivethCommunity.scss";
@import "backgroundImageHeader.scss";
@import "dac-card.scss";
@import "milestoneConversations.scss";
@import "conversationModal.scss";
// misc
@import "quill-overrides.scss";
@import "toastify-overrides.scss";
@import "react-token-input-overrides.scss";
@import "sweet-alert-overrides.scss";
@import "react-toggle.scss";
@import "react-datepicker.scss";
@import "pagination.scss";
@import "cropper.scss";
// overrides
@import "card.scss";
@import "formsyOverrides.scss";

html,
body {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $page-background;
}

.page-layout {
  padding: 80px 20px 50px 20px;

  &.reduced-padding {
    padding-top: 50px;
  }

  &.extended-padding {
    padding-top: 80px + 50px;
  }

  @media (max-width: 768px) {
    padding: 80px 20px 50px 20px;
  }
}

a,
button {
  cursor: pointer;

  &.secondary-link {
    color: $secondary-link;
  }
}

label,
.label {
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 0.9rem;
}

table {
  overflow-x: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.help-block {
  color: lighten(black, 30%);
  font-size: 0.75rem;
  font-weight: 300;
}

.form-text {
  margin-top: -3px;
  margin-bottom: 10px;
  color: lighten(black, 30%);
  font-size: 0.75rem;
  font-weight: 300;
}

.loading-overlay {
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

input[type="file"] {
  display: block;
}

input[type="number"] {
  -moz-appearance: textfield; /*For FireFox*/

  &::-webkit-inner-spin-button {
    /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0;
  }
}

i {
  margin-right: 5px;

  &.fa-question-circle-o,
  &.fa-question-circle {
    color: $green;
  }
}

.empty-state-img {
  margin: 40px 0;

  &.reduce-margin {
    margin: 20px 0;
  }
}

.spacer-top {
  margin-top: 50px;
}

//
.form-group {
  // $valid-green: darken($green, 2%);
  label {
    // color: $valid-green;
  }

  input {
    // border-color: $valid-green;
    &[type="file"] {
      margin-top: 2px;
    }
  }

  // &.is-valid {
  //   .ql-toolbar {
  //     border-top-color: $valid-green;
  //     border-right-color: $valid-green;
  //     border-left-color: $valid-green;
  //   }
  //   .ql-container {
  //     border-bottom-color: $valid-green;
  //     border-right-color: $valid-green;
  //     border-left-color: $valid-green;
  //   }
  // }
  &.has-error {
    label {
      color: $error-red;
    }

    input {
      border-color: $error-red !important;
    }

    .ql-toolbar {
      border-top-color: $error-red !important;
      border-right-color: $error-red !important;
      border-left-color: $error-red !important;
    }

    .ql-container {
      border-bottom-color: $error-red !important;
      border-right-color: $error-red !important;
      border-left-color: $error-red !important;
    }

    .help-block {
      color: $error-red;
      margin-left: 0;
      font-weight: 500;

      &:not(.validation-message) {
        display: none;
      }
    }
  }

  // &.has-feedback > input {
  //   border-color: $valid-green;
  // }
  .validation-message {
    margin-left: 3px;
  }
}

.nav-tabs {
  margin-top: 50px;

  .nav-link {
    font-size: 0.8rem;

    &.active {
      background-color: #f9f9f9;
      border-bottom-color: #f9f9f9;
    }
  }
}

.image-preview {
  background-color: #f9f9f9;
  padding: 5px;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 150px;

  img {
    width: 100%;
  }
}

.image-preview.small {
  max-width: 100px;
}

.react-toggle-container {
  display: flex;

  .label {
    margin-left: 10px;
  }
}

.inline {
  display: inline;
}

span.nav-link {
  cursor: pointer;
}

span.nav-link:focus {
  outline: 0;
}

.ql-editor .ql-video {
  min-height: 400px;
  width: 100%;
}

.share-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
  @include media_tablet() {
    margin-top: 10px;
  }
}

.share-options > * {
  margin: 5px;
  cursor: pointer;
}

.go-back-section {
  display: flex;
  justify-content: space-between;
  background-color: white;

  button {
    color: $in-page-link-color;

    &:hover {
      color: darken($green, 10%);
    }
  }

  @include media_tablet() {
    flex-direction: column;
  }
}

.label > .btn-explain {
  padding: 0 5px;
  color: lighten($link-color, 40%);
}

@include media_tablet() {
  .page-wrapper {
    padding-top: 55px;
  }
}

// new card design
.card-form-container {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  margin: auto;
  & > .card-form {
    display: block;
    width: 100%;
    min-height: 164px;
    background: #ffffff;
    box-shadow: 0px 4px 20px #d1d1d1;
    border-radius: 8px;
    padding: 34px;
    color: #2c0b3f;

    & > .card-form-header {
      padding-bottom: 52px;
      & > img {
        display: block;
        width: 110px;
        height: 110px;
        margin: auto;
      }
      & > .title {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */

        text-align: center;

        /* Deep Purple - GG */
      }
    }
    & > .campaign-info {
      & > .label {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
      }
      & > .content {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 22px;
        padding: 12px 0;
      }
    }
    & > .section {
      padding-top: 80px;
      & > .title {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        padding-bottom: 18px;
      }
    }
  }
}

//Custom styles for Ant Design
.custom-form-item {
  & > .ant-form-item-label {
    display: block;
    width: 100%;
    text-align: left;
    padding: 32px 0 15px;
    & > label {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      &::after {
        content: "";
      }
    }
  }
  & > .ant-form-item-control {
    .ant-form-item-control-input-content{
      &>input,
      &>textarea {
        background: #ffffff;
        border: 2px solid #dfdae8;
        box-sizing: border-box;
        border-radius: 8px;
  
        padding: 16px 18px;
  
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }
    .ant-upload-drag {
      background: #ffffff;
      border: 2px dashed #dfdae8;
      box-sizing: border-box;
      border-radius: 8px;

      padding: 16px 18px;

      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      p {
        color: #AAAFCA;
        span {
          color: #3f51b5;
        }
      }
    }
  }
}
.form-item-desc {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #aaafca;
  margin-top: -18px;
}

//custom Switch
.ant-switch {
  min-width: 36px;
}

.ant-switch-checked {
  background-color: #5ca43f;
}

//custom select
.ant-select {
  .ant-select-selector {
    height: 52px !important;
    background: #ffffff;
    border: 2px solid #dfdae8 !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        height: 50px;
      }
    }
    .ant-select-selection-placeholder,
    .ant-select-selection-item {
      line-height: 50px;
    }
  }
}

.ant-btn {
  &.ant-btn-primary[type="submit"] {
    width: 100%;
    height: 52px;
    background: #5066cf;
    border-radius: 8px;
    border: none;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    /* White */

    color: #ffffff;
  }
}

.ant-picker {
  width: 100%;
  border: 2px solid #DFDAE8;
  box-sizing: border-box;
  border-radius: 8px;
  height: 52px;
}
