// Global classes are defined here

@import '~react-input-token/lib/style.css';

@import 'layout.scss';
@import 'colors.scss';
@import 'typography.scss';

// views
@import 'causesView.scss';
@import 'editCausesView.scss';
@import 'viewCauseView.scss';
@import 'viewCampaignView.scss';
@import 'viewMilestoneView.scss';
@import 'accountView.scss';
@import 'dashboard.scss';
@import 'edit-view.scss';

// components
@import 'loader.scss';
@import 'mainMenu.scss';
@import 'goBackButton.scss';
@import 'joinGivethCommunity.scss';
@import 'backgroundImageHeader.scss';
@import 'dac-card.scss';

// misc
@import 'quill-overrides.scss';
@import 'react-skylight.scss';
@import 'toastify-overrides.scss';
@import 'react-token-input-overrides.scss';
@import 'sweet-alert-overrides.scss';

// overrides
@import 'card.scss';


html, 
body {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $page-background;
}

.page-layout {
  padding: 130px 20px 50px 20px;

  &.reduced-padding {
    padding-top: 50px;
  }

  &.extended-padding {
    padding-top: 80px + 50px;
  }

  @media (max-width: 768px) {
    padding: 130px 20px 50px 20px;
  }
}

a, button {
  cursor: pointer;
}

label {
  font-weight: 600;  
  margin-bottom: 2px;
  font-size: 0.9rem;  
}

table {
  overflow-x: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;  
}

.help-block {
  color: lighten(black, 30%);  
  font-size: 0.75rem; 
  font-weight: 300; 
}

.form-text {
  margin-top: -3px;
  margin-bottom: 10px;
  color: lighten(black, 30%);  
  font-size: 0.75rem;
  font-weight: 300;  
}


input[type="file"] {
  display: block;  
}

i {
  margin-right: 5px;

  &.fa-question-circle-o,
  &.fa-question-circle {
    color: $green;
  }
}

.empty-state-img {
  margin: 40px 0;

  &.reduce-margin {
    margin: 20px 0;    
  }
}

.spacer-top {
  margin-top: 50px;
}