// Global classes are defined here

// views
@import 'causesView.scss';
@import 'editCausesView.scss';
@import 'viewCauseView.scss';

// components
@import 'loader.scss';
@import 'mainMenu.scss';

// misc
@import 'quill-overrides.scss';

body {
  margin: 0;
  padding: 0;
}

.page-layout {
  padding: 50px 20px;
}

a, button {
  cursor: pointer;
}
