#main-menu {
  background-color: $header-background; 


  a {
    color: $menu-item-color;

    &:hover {
      color: darken($menu-item-color, 30%);
    }

    &.active {
      color: $green;
    }
  }
}