#view-cause-view {
  padding-top: 50px;

  .cause-title {
    padding-bottom: 30px;
  }

  iframe,
  img {
    width: 100%;
    min-height: 300px; 

    &.cause-header-image {
      margin: 30px 0;
      border-radius: 3px;
    }   
  }
}